header {
    height: 15px;
    background-color: black;
    width: 100%;
}
h1 {
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.imgContainer {
    width:100%;
    position: relative;
}
img {
    width:100%;
}
.textContainer {
    
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: white ;
    opacity:85%;
    padding: 10px 20px;
    text-align: center;
}
.title {
    color:#1ccdcd;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 34px;
    font-weight: bolder;
    
}
p {
    font-size: 12px;
}

.restaurants {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 15px;

    
}
.button {
    padding: 20px;
    border: 1px solid #1ccdcd;
    border-radius: 2px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 24px;
    text-decoration: none;
    color:black;
    font-weight:bolder;
}
@media screen and (max-width: 800px) {
    .restaurants {
    grid-template-columns: 1fr 1fr 1fr;
    
    }
}
footer {
    border-top: 1px solid rgb(234, 233, 233);
    margin-top: 20px;
    padding: 5px;
    font-size: 12px;
}